<div id="cuerpo">

  <div class="container text-center">
    <div class="grid grid-flow-row auto-rows-max">

      <div class="col order-last">
        <div class="p-3">
          <img class="img  mx-auto d-block"
            src="https://i.ibb.co/VJTdX27/89257845-2445694715535225-5325429597846634496-n.jpg" alt="foto">
        </div>
      </div>
      <div class="col">

      </div>
      <div class="col order-first">

      </div>
    </div>
    <div class="row gy-5">
      <div class="p-3"><strong>
          <h1 class="display-2">{{ perfil.nombre }} {{ perfil.segundoNombre }} {{ perfil.apellidoPaterno }} {{
            perfil.apellidoMaterno }}</h1>
        </strong></div>
    </div>
    <div class="row gy-5">
      <div class="p-3">
        <h1 class="display-5"><strong>Perfil Profesional:</strong></h1>
      </div>
    </div>
    <div class="row gy-5">
      <div class="p-3">
        <p class="text-break">
          {{perfil.descripcion}}
        </p>
      </div>
    </div>

    <div class="row gy-5 p-5">
      <!---------------------------------->

      <table class="table table-striped">

        <tbody>
          <tr class="table-light">
            <td class="table-light">
              <p class="text-break"><strong>Numero Cecluar:</strong></p>
            </td>
            <td class="table-light">
              <p class="text-break">{{ perfil.numeroCelular }}</p>
            </td>
          </tr>
          <tr class="table-light">
            <td class="table-light">
              <p class="text-break"><strong>Correo:</strong></p>
            </td>
            <td class="table-light">
              <p class="text-break">{{ perfil.correo }}</p>
            </td>
          </tr>
          <tr class="table-light">
            <td class="table-light">
              <p class="text-break"><strong>Correo: </strong></p>
            </td>
            <td class="table-light">
              <p class="text-break">{{ perfil.correo1 }}</p>
            </td>
          </tr>
          <tr class="table-light">
            <td class="table-light">
              <p class="text-break"><strong>Facebook: </strong></p>
            </td>
            <td class="table-light">
              <p class="text-break"><a href="{{ perfil.facebook }}">{{ perfil.facebook }}</a></p>
            </td>
          </tr>
          <tr class="table-light">
            <td class="table-light">
              <p class="text-break"><strong>github: </strong></p>
            </td>
            <td class="table-light">
              <p class="text-break"><a href="{{ perfil.github }}">{{ perfil.github }}</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="fondoDiv text-center">
    <h1 class="display-2">
      <p class="text-break">Tecnologias</p>
    </h1>
  </div>

  <div class="fondoDiv text-center">
    <div class="container text-center">
      <div class="p-4">

        <div class="row">
          <ng-container *ngFor="let tecnologia of tecnologias; let i = index">

            <!-- Iterar sobre el array de tecnologías en incrementos de 2 -->
            <!-- Verificar si el índice es par (o sea, es el inicio de una nueva fila) -->

            <div class="col" *ngIf="i % 2 === 0">
              <!-- Mostrar la primera imagen -->
              <img [src]="tecnologias[i].urlImg" class="img-fluid" alt="{{tecnologias[i].tecnologia}}">
              <!-- Verificar si hay una segunda imagen disponible para mostrar -->
              <ng-container *ngIf="i + 1 < tecnologias.length">
                <img [src]="tecnologias[i + 1].urlImg" class="img-fluid" alt="{{tecnologias[i + 1].tecnologia}}">
              </ng-container>
            </div>

          </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>