  

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
  
    align-items: center;
    padding: 1rem 1rem 0rem 1rem ;
    box-sizing: inherit;
    position: relative;
    
  }
  .content {
    width: 100%;
  }

 img{
  border-radius: 200px;
  width: 200px;
  height: auto;
  border-style:inset;
 }

